:root {
    --header-bg-color: #4338CA;
    --header-contrast-color: #EEF2FF;
    --content-bg-color: #EEF2FF;
    --card-bg-color: #6366F1;
    --card-contrast-color: #E0E7FF
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header {
    width: 100vw;
    height: clamp(200px, 300px, 300vh);
    background-color: var(--header-bg-color);
    color: var(--header-contrast-color);
}

.content {
    width: 98vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 20px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 3fr));
    grid-auto-rows: minmax(300px, 500px) ;
    grid-auto-flow: row;
    gap: 20px;
    overflow: auto;
    background-color: var(--content-bg-color);
}

.book-card {
    text-align: center;
    border: 3px solid #C7D2FE;
    border-radius: 30px;
    overflow: auto;
    background-color: var(--card-bg-color);
    color: var(--card-contrast-color);
}

.book-card h1{
    padding-top: 2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    background-color: var(--header-bg-color);
    color: var(--header-contrast-color);
}